.BookSession{
    border: lightskyblue 2px solid;
    border-radius: 10px;
    width: 85vw;
    max-width: 700px;
    margin: auto;
    padding:10px;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}
.BookSession img{
    border: black 2px solid;
    background-color: #96d3ec;
}
.docName{
    color: red;
    font-weight: bold;
}
.Detail{
    border-radius: 10px;
    width: 75vw;
    max-width: 600px;
    margin: auto;
    padding:10px;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}
.Name{
    color: navy;
    font-weight: bold;
}
.Detail h4,h3{
    text-align: left;
}
.close{
    float: right;
}
.description{
    float: left;
    font-weight: bold;
    color: #6c757d;
    background-color: greenyellow;
    text-decoration: underline;
}