.searchResult{
    position: relative;
    width: 85vw;
    max-width: 700px;
    border: lightskyblue 2px solid;
    border-radius: 10px;
    margin: auto;
    padding:20px;
    background-color: rgba(255, 252, 252, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x:auto;
}
.close{
    float: right;
}
.item{
    border: lightskyblue 2px solid;
    margin: 10px;
    width: 95%;
    background-color: rgba(255, 252, 252, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item div{
    flex-grow:3;
}
.doctorName{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.hospital{
    font-size: 15px;
}
.item{
    float: left;
    text-align: left;
   width: 80vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 0px;
}
.item:hover{
    background-color: lightgreen;
    transform: scale(1.03);
}
 .details{
    flex-grow: 5;
}