.Navbar {
   display: flex;
   flex-direction: row;
   align-content: space-between; 
    justify-content: space-between;
  }
  .tittle{
    flex-grow: 15;
    font-Weight:bold;
    text-align: center;
  }
  button{
    border-radius: 50%;
  }