
.mainBlock {
  width: 100%;
  max-width: 600px;
  position: absolute;
     left: 50%;
     top: 50%;
    transform: translate(-50%, -50%);
  border: lightskyblue 2px solid;
  border-radius: 10px;
  margin: 10px;
  padding:10px;
  text-align: center;
  background-color: rgba(0, 0, 0,0.4) ;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .Error{
      padding: 10px;
      background-color: #feeaea;
      border: 1px solid #fadadb;
      margin-bottom: 10px;
      border-radius: 3px;
    }
underLine {
  text-align: center;
  margin: 7px 0 0 0;
  display: block;
}

.linkBtn {
  border: 0;
  background-color: unset;
  color: red;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.linkBtn:hover {
  color: blue;
  cursor: pointer;
}

.linkBtn:focus{
  outline: none;
}

