.styles{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    
}
.stylesitem{
    text-align: left;
    width: 100%;
    margin: 10px;
}
label{

    color: whitesmoke;
}
input:valid {
    background-color:  #96d3ec!important;
  }
input {
    color:black !important;
}

.login{
    position: relative;
     left: 50%;
     top: 40%;
    transform: translate(-50%, -50%);
}